@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .flex-center {
    @apply flex justify-center items-center;
  }
}

.shadow-filter {
  filter: drop-shadow(2px 1px 0.3px rgb(3, 10, 8));
}

/* In your CSS file */
.great-vibes {
  font-family: "Great Vibes", cursive;
}
.btn::after {
  content: "hi";
  position: absolute;
  background-color: aqua;
  width: 1opx;
  height: 10px;
}
