@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .btn {
    @apply flex-center gap-1 text-slate-900/80  bg-blue-400/20 p-2 rounded-full cursor-pointer z-0 relative;
  }
}

.shadow-filter {
  filter: drop-shadow(2px 1px 0.3px rgb(3, 10, 8));
}

/* In your CSS file */
.great-vibes {
  font-family: "Great Vibes", cursive;
}
.hover::before {
  content: "";
  position: absolute;
  background-color: #936648cb;
  width: 0px;
  border-radius: 10rem;
  transform: translateX(-50px);
  height: 36px;
  z-index: -1;
  transition: all 0.35s cubic-bezier(0.545, 0.05, 0.95, 0.95);
}
.hover:hover::before {
  width: 150px;
  transform: translateX(0px);
}

.ease {
  animation: fade 1s forwards 1s;
}
