@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .btn {
    @apply flex-center gap-1 text-slate-900/80  bg-blue-400/20 p-2 rounded-full cursor-pointer z-0;
  }
  .title {
    @apply text-xl font-semibold text-sky-600/90;
  }
  .tag {
    @apply bg-[#936648] px-2 px-1 text-center text-black/70 font-semibold  rounded-sm hover:bg-blue-700/80 hover:text-black/50 duration-300 min-w-[1.5rem] text-[10px] capitalize;
  }
  .card {
    @apply shadow-md text-slate-500 px-2;
  }
}

.shadow-filter {
  filter: drop-shadow(2px 1px 0.3px rgb(3, 10, 8));
}

/* In your CSS file */
.great-vibes {
  font-family: "Great Vibes", cursive;
}
.hover::before {
  content: "";
  position: absolute;
  background-color: #936648cb;
  width: 0px;
  border-radius: 10rem;
  transform: translateX(-50px);
  height: 36px;
  z-index: -1;
  transition: all 0.35s cubic-bezier(0.545, 0.05, 0.95, 0.95);
}
.hover:hover::before {
  width: 155px;
  transform: translateX(0px);
}

.fade {
  animation: fade 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.335) forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translate(5px);
  }

  100% {
    opacity: 1;
  }
}
.terminal::placeholder {
  color: rgba(240, 248, 255, 0.116);
}
.navLink:hover {
  color: #c68f6a97;
  transition-duration: 0.3s;
  position: relative;
}
.navLink:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0%;
  background: rgb(2 132 199);
  animation: slideLeft 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
@keyframes slideLeft {
  100% {
    width: 100%;
  }
}
.bg {
  background: rgba(34, 60, 54, 0.25);
  box-shadow: 0 8px 12px 0 rgba(31, 133, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}
