@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .btn {
    @apply flex-center gap-1 text-slate-900/80  bg-blue-400/20 p-2 rounded-full cursor-pointer z-0;
  }
  .title {
    @apply text-xl font-semibold text-sky-600/90;
  }
  .tag {
    @apply bg-[#936648] px-1 py-0.5 min-w-fit text-center text-black/70 font-semibold  rounded-sm hover:bg-blue-700/80 hover:text-black/50 duration-300  text-[11px] capitalize;
  }
  .card {
    @apply shadow-md text-slate-500 px-2;
  }
}

.shadow-filter {
  filter: drop-shadow(2px 1px 0.3px rgb(3, 10, 8));
}

/* In your CSS file */
.great-vibes {
  font-family: "Great Vibes", cursive;
}
.hover::before {
  content: "";
  position: absolute;
  background-color: #936648cb;
  width: 0px;
  border-radius: 10rem;
  transform: translateX(-50px);
  height: 36px;
  z-index: -1;
  transition: all 0.35s cubic-bezier(0.545, 0.05, 0.95, 0.95);
}
.hover:hover::before {
  width: 155px;
  transform: translateX(0px);
}

.fade {
  animation: fade 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.335) forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translate(5px);
  }

  100% {
    opacity: 1;
  }
}
.terminal::placeholder {
  color: rgba(240, 248, 255, 0.116);
}
.navLink:hover {
  color: #c68f6a97;
  transition-duration: 0.3s;
  position: relative;
}
.navLink:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0%;
  background: rgb(2 132 199);
  animation: slideLeft 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
@keyframes slideLeft {
  100% {
    width: 100%;
  }
}
.bg {
  background: rgba(34, 60, 54, 0.25);
  box-shadow: 0 8px 12px 0 rgba(31, 133, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

.show {
  width: 48vw;
  transition: all 1s ease-in-out;
  border: 1px solid rgb(2 132 199);
  padding-inline: 2px;
}
.hide {
  width: 0em;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: 0px solid rgb(2 132 199);
}

@media screen and (max-width: 767px) {
  .show {
    width: 65vw;
  }
}

.err-animation {
  animation: nono 0.21s ease-in-out forwards;
}

@keyframes nono {
  0% {
    transform: translateX(0px);
  }
  33% {
    transform: translateX(-10px);
  }
  66% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
.info {
  position: relative;
  transition: all 1s ease-in-out forwards;
}
.info:hover {
  filter: drop-shadow(1px 1px 4px rgba(242, 242, 46, 0.605));
  /* box-shadow: 1px 1px 10px yellow; */
}
.info:hover::after {
  content: "To add code click this button or follow the syntax of button.";
  position: absolute;
  top: -50px;
  display: flex;
  height: 40px;
  width: 170px;
  padding: 2px;
  color: rgb(19, 69, 3);
  border-radius: 8px 8px 8px 0px;
  background: rgba(71, 244, 45, 0.374);
  backdrop-filter: blur(10px);
  transition: all 1s ease-in 1s;
}

.userCardModal {
  flex-direction: column;
  /* padding: 0 0 0 0px; */
  justify-content: center;
  align-items: center;
  /* height: 0px !important; */
  position: absolute;
  bottom: 40px;
  backdrop-filter: blur(10px);
  background: rgba(31, 133, 135, 0.37);
  filter: box-shadow;
  height: 150px;
  /* border-radius: 100px; */
}
.navLinkSm {
  /* background-color: rgba(23, 30, 48, 0.978);
   */
  filter: drop-shadow(0px 0px 2rem rgb(87, 237, 157));
  /* box-shadow: 1px 2px 0.1rem crimson; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: thick double rgba(11, 11, 11, 0.229);
  border-radius: 2rem;
  width: 100%;
  min-width: 11rem;
  /* transform: translateX(10px); */
  /* padding: 2px; */
  padding: 8px 4px;
  font-size: medium;
  font-weight: 700;
  animation: left 1s forwards 1s;
}

/*  none    |
  hidden  |
  dotted  |
  dashed  |
  solid   |
  double  |
  groove  |
  ridge   |
  inset   |
  outset  
   */
.burgerMenu {
  transition: all 1s steps;
}
.reflect {
  transform: scaleX(-1);
}
.animate-in {
  width: 0;
  transform: translateX(-10px);
  overflow: hidden;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50%,
  100% {
    width: 100%;
    transform: translateX(0px);
  }
}
